*{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body {
   
    background-color: #f4f4f4;
    background: #f3f5;
}




.idk{
    display: flex;
    position: relative;
}
nav {
    background-color: #333;
    position: fixed;
    padding: 10px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 80px;
}
nav ul {
    list-style: none;
}

nav li {
    margin-bottom: 50px;
}

nav a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 10px;
}

nav a:hover {
    background:#8773eb;
    cursor: crosshair;
}

.content {
    width:100%;
    margin-left:80px;
}

.header{
    padding: 20px;
    background: #fff;
    color:#717171;
}
.main{
    margin: 20px;
}




.playable {
    text-align: center;
    background-color: #4caf50;
    color: #fff;
    padding: 20px;
}

.game-container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.game-item {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    width: 45%;
}

.game-item h2 {
    margin-top: 0;
}

.game-item a {
    background-color: #4caf50;
    border: none;
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    padding: 10px 20px;
    text-decoration: none;
}

.game-item a:hover {
    background-color: #459aa0;
}

