player-connection-mode=Listen
player-connection-guid=178819410
player-connection-debug=0
player-connection-project-name=WebGLTest
player-connection-ip=192.168.0.237
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=6e14d4e7c92346f0abc6b705ae1c78ac
