player-connection-mode=Listen
player-connection-guid=536748835
player-connection-debug=0
player-connection-project-name=WebGLTest
player-connection-ip=192.168.0.237
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=2e8cdbef1d0e45569d06b892328c2270
