player-connection-mode=Listen
player-connection-guid=2205349483
player-connection-debug=0
player-connection-project-name=Square Tanks
player-connection-ip=192.168.0.237
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=dc9cb52716254fd5a64e294f8549474d
